<!doctype html>
<html ng-app="trackApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="track.js"></script>
  </head>
  <body>
    <h2>Playlist Generator</h2>
    <br>
    <div ng-controller="TrackListController as trackList">
      <form ng-submit="trackList.getTracks()">
       <input type="text" ng-model="trackList.artist"  size="30"
              placeholder="type artist name">
      <input type="text" ng-model="trackList.track"  size="30"
             placeholder="type track name">
       <input class="btn-primary" type="submit" value="find">
      </form>
      <br>
      <span>Type a song*, press ENTER</span><br>
      <span>Click on <i>Generate Playlist</i> after similar tracks are loaded</span><br><br>
      <span>*Both Artist and Song name are required</span><br>
      <br>
      <br>
      <div class="row">
         <div class="col-md-6">
           <table class="table">
             <thead>
               <tr>
                 <th>ARTIST</th>
                 <th>SONG</th>
                 <th>ON YOUTUBE</th>
               </tr>
             </thead>
             <tbody ng-repeat="track in trackList.tracks">
                 <td>{{track.artist}}</td>
                 <td>{{track.song}}</td>
                 <td><a target="_blank" href='https://www.youtube.com/watch?v={{track.youtubeId}}'><img src='https://s.ytimg.com/yts/img/favicon-vflz7uhzw.ico'>{{track.youtubeId}}</img></a></td>
             </tbody>
          </table>
         </div>
        </div>
      <span><a target="_blank" href={{trackList.generatePlaylist()}}><img src='https://s.ytimg.com/yts/img/favicon-vflz7uhzw.ico'>Generate Playlist</a></span><br>
      <br><br>
    </div>
  </body>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>
